{% extends 'base.html' %}

{% block main %}

<div class="d-flex col-4 justify-content-between">
    <h1 class="h2 mb-3 fw-normal">{{ product.product_name }}</h1>
</div>

<div class="row">
    <div class="col-md-5">
        <img class="w-100" src="{{ product.product_image.url }}" alt="">
    </div>
    <div class="col-4">
        <h2>{{ product.product_price }} Р</h2>

        <form action="{% url 'favorites_app:add_to_favorite' product.id %}" method="post" class="col-4 mt-2">
            {% csrf_token %}
            <input type="submit" value="В избранное" class="form-control">
        </form>

    </div>
</div>

<div class="row mt-5 col-5">
    <h2>Описание продукта</h2>
    <p>{{ product.product_desc }}</p>
</div>

{% endblock %}