{% extends 'base.html' %}

{% block main %}

<div class="d-flex col-4 justify-content-between">
    <h1 class="h2 mb-3 fw-normal">{{ product.product_name }}</h1>
    {% if fact_rating %}
        <div class="d-flex flex-direction-row"><span class="fs-4">&#11088;</span><span class="fs-3 ms-1">{{ fact_rating }}</span></div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-5">
        <img class="w-100" src="{{ product.product_image.url }}" alt="">
    </div>
    <div class="col-4">
        <h2>{{ product.product_price }} Р</h2>
        <div class="d-flex">
            <a href="{% url 'rating_app:add_rating' product.id 1 %}" class="fs-3">&#9734;</a>
            <a href="{% url 'rating_app:add_rating' product.id 2 %}" class="fs-3">&#9734;</a>
            <a href="{% url 'rating_app:add_rating' product.id 3 %}" class="fs-3">&#9734;</a>
            <a href="{% url 'rating_app:add_rating' product.id 4 %}" class="fs-3">&#9734;</a>
            <a href="{% url 'rating_app:add_rating' product.id 5 %}" class="fs-3">&#9734;</a>
        </div>
        <hr>
        <a href="{% url 'search_app:category_search' product.product_category.category_slug  %}">{{ product.product_category }}</a>
        <hr>

        <form action="{% url 'cart_app:cart_add' product.id %}" method="post" class="col-4">
            {% csrf_token %}
            {{ cart_product_form }}
            <input type="submit" class="form-control mt-2" value="В корзину">
        </form>
        <hr>

        <form action="{% url 'favorites_app:add_to_favorite' product.id %}" method="post" class="col-4 mt-2">
            {% csrf_token %}
            <input type="submit" value="В избранное" class="form-control">
        </form>

    </div>
</div>

<div class="row mt-5 col-5">
    <h2>Описание продукта</h2>
    <p>{{ product.product_desc }}</p>
</div>

<div class="row">
    <h2 class="mt-5">Отзывы</h2>
    <div class="col-7">
        {% for review in reviews %}
            {% for users in review_users %}
                {% if review.user_id == users.id %}
                    <div class="row bg-light p-2 mt-2">
                        <div class="col-8">
                            <h6>{{ users.user_name }}</h6>
                            <p>{{ review.review_text }}</p>
                        </div>
                        {% if user and user.id == review.user_id %}
                            <div class="row col-4 align-items-center">
                                <form action="{% url 'review_app:remove_review' review.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Удалить отзыв" class="form-control">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% empty %}
            <p>Отзывов пока нет</p>
        {% endfor %}
    </div>

    <div class="col-7 mt-3">
        <form action="{% url 'review_app:add_review' product.id %}" method="post">
            {% csrf_token %}
            {{ review_form }}
            <input type="submit" value="Добавить отзыв" class="form-control mt-2">
        </form>
    </div>
</div>

{% endblock %}